<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.turing.camera.timelapse</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/etc/turing/services/turing-camera-timelapse/boot.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.turing.camera.timelapse.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.turing.camera.timelapse.out</string>
</dict>
</plist>
